body {
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#quote-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#new-quote-btn {
    background-color: #cbc93d;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#new-quote-btn:hover {
    background-color: #cbc93d;
}
